@using Colin_Biblio.Models
@using Colin_Biblio.ViewModels
@model Colin_Biblio.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            html 
            {
                background-color: floralwhite;
                font-family: 'Segoe Print';
                color:midnightblue;
            }

            table 
            {
                border-style: solid;
                border-width: thin;
                background-color: antiquewhite
            }

            .fst 
            {
                border-style: solid;
                border-width: thin;
                background-color: goldenrod;
            }

            .scd {
                border-style: solid;
                border-width: thin;
                background-color: antiquewhite
            }

            td {
                border-style: dotted;
                border-width: thin;
                background-color: antiquewhite
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th class="fst" colspan="2">Livre</th>
                <th class="fst" colspan="2">Auteur</th>
            </tr>
            <tr>
                <th class="scd">Nom</th>
                <th class="scd">Date de parution</th>
                <th class="scd">Nom</th>
                <th class="scd">Prénom</th>
            </tr>
            @foreach (LivreAut livreAut in Model.livreAuts)
            {
                <tr>
                    <td>@livreAut.Livre.Titre</td>
                    <td>@livreAut.Livre.DateParution.ToShortDateString()</td>
                    <td>@livreAut.Auteur.Nom</td>
                    <td>@livreAut.Auteur.Prenom</td>
                </tr>
            }
        </table>
        <br />
        <hr />
        <br />
        @Html.ActionLink("Retourner à l'accueil", "Index", "Home")
    </body>
</html>

